apiVersion: apps/v1
kind: Deployment
metadata:
  name: py-deployment
  labels:
    app: py
spec:
  replicas: 2
  selector:
    matchLabels:
      app: py
  template:
    metadata:
      labels:
        app: py
    spec:
      containers:
      - name: py-container
        image: quadrimuzammil/pyappgcp:${BUILD_NUMBER}
        ports:
        - containerPort: 80
